
div {     
    max-width: 1600px;
}
div {
    text-align: center;
}
#content {
    margin: 0 auto;
}
nav a {text-align: center;
       color: #4ddeff;
       text-decoration: none;
}
#hero-msg h1 {
    text-align: center;
}
#hero-msg h4 {
    text-align: center;
}
.button-box {
    text-align: center;
}
main section {
    text-align: center;
}
#background {
    height: 725px;
}
body {
    background-color: #ffffff;
}
header {
    background-color: #ffe100;
}
nav a:hover {
    background-color:#ffffff;
    color:#4ddeff ;
}
.home-title {
    color: #ff8a60
}
h4 {
    color: #ff8a60
}
.book {
    background-color: #ffffff;
    color:#4ddeff ;
    text-decoration: none;
} 
.join {
    background-color: #ffe100;
    color:#4ddeff;
    text-decoration: none;
}
.book:hover {
    background-color: #4ddeff;
    color: #ffffff;
}
.join:hover {
    background-color: #ffe;
    color: #4ddeff;
}
#background {
    background-color: #ffe100 ;
}
.msg {
    background-color: #ffe100 ;
}
.msg h2 {
    color: black;
}
.msg p {
    color: black;
}
footer {
    background-color: #4ddeff;
    color: #ffffff;
}
footer a {
    color: black;
    text-decoration: none;
}
footer a:hover {
    color: #ffffff;
}
.logo {
    width: 80px;
}
.icon {
    width: 80px;
}
#hero-img {
    width: 100%;
}
footer p {
    font-size: 1.2em;
}
footer p a:hover {
    text-decoration: underline;
}
