
p{
    width: 80%;
}
a{
    font-size: 1.5em;
}
h1 {
    text-align: center;
}
nav, footer {
   background-color: steelblue;
    color: white;
    padding: 10px;
}
footer p {
    font-size: 20px;
    margin: 20px auto;
}
a:hover {
    background-color: white;
    color: steelblue;
}



