@import url('https://fonts.googleapis.com/css2?family=Inter&family=Orbitron&display=swap');
body { 
    background-color:#000000;
    font-family: 'Orbitron',sans-serif;;
    font-size: 35px;
    margin-left: 2%;
    margin-right: 2%;
}
        
.title {
    font-family: 'Inter', sans-serif;
    color: #ffffff;
    font-size: 100px;
    position: absolute;
    bottom: 45%; 
    left: 50%;
    transform: translate(-50%, 50%);
    text-align: center;
    white-space: nowrap;
}
.live {
    width: 100%;
    position: relative;
}

header {
background-color: #000000;
 font-family:'Inter', sans-serif;
 width: 100%;
margin: 2%;
}
.menu-items {
font-size: 50px;
color: #000000;
}
.menu-items a {
color: #ffffff;
}
.menu {
background-color: #000000;
text-decoration: none;
}
.menu:hover {
background-color: #ffe;
color: #000000;
}

.imformation {
text-align: center;
background-color: #000000;
color: #F002FF;
margin-top: 7%;
}

.info-t {
    background-color: #000000;
color: #F002FF;
}
.schedule {
    margin-top: 7%;
    background-color: #000000;
color: #ffffff;
}
.date {
    background-color: #000000;
color: #ffffff;
}
.venue {
    background-color: #000000;
color: #ffffff;
}
.stadium{
    background-color: #000000;
color: #ffffff;
}
.home-tickets {
    margin-top: 7%;
background-color: #000000;
color: #F002FF;
}
.tickets-info {
    text-align: center;
    margin-bottom: 7%;
}

.here {
    color: #F002FF;
    border: 3px solid #F002FF;
    border-radius: 10px;
    text-decoration: none;
    padding: 10px;
    margin-left: 47%;
}

.here:hover {
color: #ffffff;
border: 3px solid #ffffff;

}

.map {
    background-color: #000000;
    color: #58FF10;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.accessmap {
    margin-top: 7%;
    text-align: center;
    background-color: #000000;
    color: #58FF10 ;
}
.map-content {
    display: flex;
    justify-content: center;
    align-items: center;
}
.map-pic {
    margin-top: 7%;
    margin-bottom: 7%;
    width: 1000px;
    height: 670px;
    order: 2; 
}
.acces-p {
    margin-right: 4%;
    flex: 1;
    order: 1;
}

footer {
    text-align: center;
}
.social {
    display: flex;
    justify-content: center;
    width: 100%; 
    margin: auto;
}
.social a {
    margin: 0 10px;
}
.logo {
display: block;
margin: auto;
}
footer p {
    color: #FFF462;

}
footer p:hover{
    color: #ffffff;
}
.siteplan {
    color: #FFF462;
    text-decoration: none;
}
.siteplan:hover {
    color: #ffffff;
}

.ticket-pic {
    width: 100%;
    margin-top: 7%;
}
.tickets {
text-align: center;
color: #58FF10;
margin-top: 7%;
}


li{
    list-style: none;
    }
    
.table{
    display:flex;
    justify-content: center;  
    margin-top: 7%; 
}
    
.table div ul {
    display: table;
    table-layout: fixed;
    margin: 10px 0;
    padding: 0;
    border: 0;
    outline: 0;
    vertical-align: baseline;
}
    
.ticket-name {
    flex-direction: column;
    padding: 50px;
    margin-right: 0;
    border: 5px solid #ffffff;
}

    
.cost{
    flex-direction: column;
    padding: 50px;
    margin-right: 0;
    border: 5px solid #ffffff;
}

.sold-out{
    flex-direction: column;
    padding: 50px;
    margin-right: 0;
    border: 5px solid #ffffff;
    }

   


.liveconcert-pic-2page {
width: 100%;
margin-top: 7%;
margin-bottom: 7%;
}

/* profile page */


.thirdpage {
text-align: center;
}

.artistprofile {
color: #FFF462;
margin-top: 7%;
}

.profile-logo {
    margin-top: 5%;
    width: 25%;
}

.artist-p {
color: #FFF462;
text-align: left;
text-align: justify;
margin: 7%;
}
.music {
    text-align: center;
    color: #ffffff;
    margin-top: 7%;
    margin-bottom: 7%;
}
.about-music {
display: grid;
grid-template-columns: repeat(3, 1fr); 
grid-template-rows: auto auto;
gap: 100px; 
justify-content: center; 
margin-bottom: 7%;
}

.jacket-container {
display: flex;
flex-direction: row; 
align-items: center;
margin-right: 20px;
}

.jacket1 {
width: 500px;
height: 500px;
}
.jacket2 {
width: 498px;
height: 498px;
border: 0.1px solid #ffffff;
margin-right:1%;
}
.jacket3 {
width: 500px;
height: 500px;
}
.jacket4 {
width: 500px;
height: 500px;
}
.jacket5 {
width: 500px;
height: 500px;
} 

.song1, .song2, .song3, .song4, .song5 {
font-family: 'Inter', sans-serif;
color: #ffffff;
margin-left:10%;
}
.date1, .date2, .date3, .date4, .date5 {
font-family: 'Inter', sans-serif;
color: #ffffff;
margin-left:10%;
}
.andmore {
color: #ffffff;
text-align: left;
margin-top: 50%;
}


@media screen and (max-width: 800px){
    p {
     color: blue;
   }
  }