@import url('https://fonts.googleapis.com/css2?family=Inter&family=Orbitron&display=swap');
body { 
    background-color:#000000;
    font-family: 'Orbitron',sans-serif;;
    font-size: 35px;
}
        
.title {
    font-family: 'Inter', sans-serif;
    color: #ffffff;
    font-size: 150px;
    position: absolute;
    bottom: 45%; 
    left: 50%;
    transform: translate(-50%, 50%);
    text-align: center;
    white-space: nowrap;
}
.live {
    width: 100%;
    position: relative;
}

header {
background-color: #000000;
 font-family:'Inter', sans-serif;
 width: 100%;
margin: 2%;
}
.menu-items {
font-size: 50px;
color: #000000;
}
.menu-items a {
color: #ffffff;
}
.menu {
background-color: #000000;
text-decoration: none;
}
.menu:hover {
background-color: #ffe;
color: #000000;
}

.imformation {
    text-align: center;
background-color: #000000;
color: #F002FF;
}

.info-t {
    background-color: #000000;
color: #F002FF;
}
.schedule {
    background-color: #000000;
color: #ffffff;
}
.date {
    background-color: #000000;
color: #ffffff;
}
.venue {
    background-color: #000000;
color: #ffffff;
}
.stadium{
    background-color: #000000;
color: #ffffff;
}
.home-tickets {
background-color: #000000;
color: #F002FF;
}
.tickets-info {
    text-align: center;
}

.here {
    color: #F002FF;
    border: 3px solid #F002FF;
    border-radius: 10px;
    text-decoration: none;
    padding: 10px;
    margin-left: 47%;
}

.here :hover {
color: #ffffff;
border: #ffffff;

}

.map {
    background-color: #000000;
    color: #58FF10;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.accessmap {
    text-align: center;
    background-color: #000000;
    color: #58FF10 ;
}
.map-content {
    display: flex;
    justify-content: center;
    align-items: center;
}
.map-pic {
    width: 1000px;
    height: 670px;
    order: 2; 
}
.acces-p {
    margin-right: 20px;
    flex: 1;
    order: 1;
}

footer {
    text-align: center;
}
.social {
    display: flex;
    justify-content: center;
    width: 100%; 
    margin: auto;
}
.social a {
    margin: 0 10px;
}
.logo {
display: block;
margin: auto;
}
footer p {
    color: #FFF462;

}
footer p:hover{
    color: #ffffff;
}
.siteplan {
    color: #FFF462;
    text-decoration: none;
}
.siteplan:hover {
    color: #ffffff;
}